spring:
  application:
    name: yoke-event
  cloud:
    config:
      uri: http://localhost:8888
  #profiles:
    #active: dev

  jpa:
    database: POSTGRESQL
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: create


  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres

server:
  port: 8083

yoke:
  notify:
    url: http://localhost:8082/event