server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: file://C:/projects/configuration
#          uri: https://github.com/sherzodn/yoke-project.git
#          search-paths: configuration