spring:
  application:
    name: yoke-attender
  cloud:
    config:
      uri: htp://localhost:8888
      profile: dev
  management:
    endpoints:
      web:
        exposure:
          include: *



server:
  port: 8084

yoke:
  notify:
    url: http://localhost:8082/event


